<div class="alert alert-danger alert-dismissible fade in" role="alert" style="width:45%">
    <button class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4>There was a problem saving the project!</h4>
</div>