<div id="mega-footer-wrap" class="bg-gray-dark" style="margin-bottom:-30px;margin-top:50px;height:250px">
    <div id="mega-footer-bottom" style="margin-top:50px;">
        <p>&copy; 2014 Sprout.</p>
    </div>
</div>