@{
    ViewBag.Title = "Welcome to Sprout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container marketing">
    <div class="row">
        <div class="row featurette">
        <div class="col-md-7">
            <div class="left_60"><img src="~/Content/images/Sprout_Logo_FINAL_200px.gif" alt="sprout" /></div>
            <h2 class="featurette-heading">Sprout. <span class="text-muted">Where ideas grow with the power of the collective.</span></h2>
            <p class="lead">
                Sprout is a custom software development company focused on empowering businesses to achieve goals by bringing ideas to life. 
                The open source movement teaches us the power of collaboration and Sprout taps into that power by creating vertical specific 
                exchanges for cooperative businesses. 
            </p>
        </div>
        <div class="col-md-5" style="margin-top:60px;">
          <img alt="the collective" class="featurette-image img-responsive img-thumbnail" src="~/Content/images/crowd2.jpg">
        </div>
      </div>       
    </div>    
</div>
